<div class="card" *ngIf="product$|async as product">
  <h3 class="card-header">&nbsp;&nbsp;Edit product {{product.title}}</h3>
  <div class="display">
    <form #form="ngForm" (ngSubmit)="update(form)">

        <mat-form-field>
        <input matInput placeholder="ID"
               name="id" [ngModel]="product.id" readonly>
        </mat-form-field>

        <mat-form-field>
        <input matInput placeholder="Title"
               name="title" [ngModel]="product.title" readonly>
          </mat-form-field>

        <mat-form-field>
        <input matInput placeholder="Category"
               name="category" [ngModel]="product.category" readonly>
          </mat-form-field>

        <mat-form-field>
        <input matInput placeholder="Price"
               name="price" [ngModel]="product.price"
        required appNoNegative #price="ngModel">
        <div class="alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">
            Price is required
          </div>
          <div *ngIf="price.errors.negative">
            Price should be a positive number
          </div>
        </div>
        </mat-form-field>

        <mat-form-field>
        <input matInput placeholder="Image Url"
               name="imageUrl" [ngModel]="product.imageUrl" readonly>
          </mat-form-field>

      <button mat-stroked-button type="submit" *ngIf="form.dirty && form.valid">Update</button>
      <span>&nbsp;&nbsp;</span>
      <button mat-stroked-button (click)="onCancel()">Cancel</button>
    </form>
    <img class="thumbnail" [src]="product.imageUrl">

  </div>
</div>

