<div class="categories-products">

  <mat-selection-list class="categories" (selectionChange)="selection($event)">
    <mat-list-option *ngFor="let category of categories$|async"
                     [value]="category.id" checkboxPosition="before">
      {{category.id}}
    </mat-list-option>

  </mat-selection-list>

<mat-list class="products-list">
<mat-grid-list [cols]="colsNum" [rowHeight]="rowHeight">
  <mat-grid-tile *ngFor="let product of products$|async" class="tile-item">
      <mat-card>
        <mat-card-content class="image">
          <img [src]="product.imageUrl">
        </mat-card-content>
      <div class="content">
        <mat-card-content>
          <label class="title">{{product.title}}</label>
          <br>
          <label>{{product.price|currency: 'USD'}}</label>
        </mat-card-content>
        <mat-card-actions>
          <app-product-cart class="cart" [product]="product"></app-product-cart>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</mat-list>
</div>
