.products-list {
  height: 90vh;
  overflow-y: auto;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  height: 50%;
  justify-content: center;
  align-items: center;
}

button {
  width: 100%;
}

img {
  height: 18vw;
  width: 20vw;
}

.title {
  font-weight: bold;
}

.categories {
  display: flex;
  flex-direction: row;
}

.cart {
  width: 100%;
  text-align: center;
  align-items: center;
}

.content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 16vw;
}

@media all and (max-width: 930px) {
  mat-card {
    min-width: 300px;
  }

}

@media all and (max-width: 660px) {
  .categories {
    overflow-x: auto;
  }

  .image {
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 16vw;
    width: 18vw;
  }

  mat-card {
    min-width: 300px;
    flex-direction: row;
  }

  .content {
    width: 40%;
  }
}

@media all and (max-width: 415px){
  img {
    height: 22vw;
    width: 26vw;
  }

  .content {
    width: 40%;
    height: 70%;
  }

  .cart {
    height: 30%;
  }
}
